.home {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  //   color: black;
  // background-color: red;
  height: 200px;
  width: 600px;
  padding: 10px;
  h2 {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 960px) {
    height: 300px;
    width: 300px;
    // background-color: red;
  }
  //#36393f
  form {
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 50px #66a4ff inset; /* Change the color to your own background color */
      -webkit-text-fill-color: white;
    }
    input:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0 50px #66a4ff inset; /* Change the color to your own background color */
      -webkit-text-fill-color: white;
    }
  }
}
.buttons {
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: 960px) {
    // background-color: aqua;
    flex-direction: column;
  }
}
